/*main{
    background-image: url("/src/background/cool-background(1).png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}*/

.banner{
    text-align: center;
}

header{
    background: rgb(20, 216, 255);
    background: radial-gradient(circle, var(--background-color) 0%, rgba(172,18,222,0) 74%); 
    background-attachment: fixed; 
}

.banner article{
    margin-block: 2rem;
    width: 80%;
    margin-inline: auto;
}

.banner h1, .about-me h1, .projects h1{
    font-family: var(--heading);
    font-size: 65px;
    line-height: 4.5rem;
    margin-block-end: 1rem;
    color: var(--heading-color);
}

.banner h2{
    font-family: var(--subheading);
    font-size: 30px;
    color: var(--subheading-color);
}

.banner img{
    height: 560px;
}

.about-me{
    text-align: center;
    padding-block: 6rem;
    background: rgb(20, 216, 255);
    background: radial-gradient(circle, var(--background-color) 0%, rgba(172,18,222,0) 74%); 
    background-attachment: fixed;
}

.about-me h1{
    
}

.about-me img{
    height: 560px;
    margin-block: 1rem;
}

.about-me article{
    width: 80%;
    margin-inline: auto;
}

.about-me article h2{
    font-family: var(--subheading);
    font-size: 30px;
    color: var(--subheading-color);
    margin-block: 1rem;
}

.about-me article p{
    font-family: var(--para);
    margin-block: 1rem;
    font-size: 18px;
    color: var(--para-color);
}


.about-me article ul{
    list-style-type: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.skills li{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 0.5rem;
}

.projects{
    text-align: center;
    padding-block: 3rem;
    background: rgb(20, 216, 255);
    background: radial-gradient(circle, var(--background-color) 0%, rgba(172,18,222,0) 74%); 
    background-attachment: fixed;
}

.projects article{
    width: 80%;
    margin-inline: auto;
}
