.topnav{
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.logo h1{
    font-family: var(--heading);
    font-size: 30px;
    color: var(--heading-color);
    text-decoration: 3px underline var(--heading-color);
}

.logo h1:hover{
    color: var(--subheading-color);
    text-decoration: 3px underline var(--subheading-color);
}

.logo a{
    text-decoration: none;
}

@media (min-width: 800px) {
    .topnav{
        padding-inline: 8rem;
    }
}