@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&family=Oxygen:wght@400;700&family=Titillium+Web:wght@400;600&display=swap');

:root{
    --heading: 'Cairo', sans-serif;
    --subheading: 'Oxygen', sans-serif;
    --para: 'Titillium Web', sans-serif;
    --heading-color: rgb(26, 67, 125);
    --subheading-color: rgb(35, 96, 154);
    --para-color: rgb(59, 86, 110);
    --background-color: rgba(20, 200, 255, 0.692);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}